{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "syntax-async-functions",
    "external-helpers",
    [
      "transform-regenerator",
      {
        "async": true,
        "asyncGenerators": true
      }
    ]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        "env",
        "flow",
        "react",
        "stage-0"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "syntax-async-functions",
        [
          "transform-regenerator",
          {
            "async": true,
            "asyncGenerators": true
          }
        ]
      ]
    }
  }
}
